.header-container {
  padding: 1rem;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.product-list-header {
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 1rem !important;
}

.margin-top-bottom {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}
